h1 {
	text-shadow: 1px 2px 2px #000;
}


.box {
	background: grey;
	height: 50px;
	width: 200px;

}

.box {

	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.box {
	border-radius: 15px;
}

.box {
	border-radius: 4px 15px 12px 10px;
}

.box {
	border-radius: 50%;
}

.box { 
	box-shadow: 
		1px 2px 0 2px #000,
		inset 1px 1px 2px blue;
}

.box {
	box-shadow: -1px -2px 2px #000;
}

.box {
	box-sizing: padding-box;
	border: 2px solid black;
	margin: 20px;
	padding: 10px;
	width: 300px;

}

/*300px(width) + 20px(padding) + 4px(border) = 324px*/
/* padding box is 304px which is 324px - 20px padding = 304px */



.box {
	box-sizing: border-box;
	border: 2px solid black;
	margin: 20px;
	padding: 10px;
	width: 300px;

}

.element {
	background-image: url(painting-01.jpg), url(painting-02.jpg);
  background-position: top left, center;
  background-repeat: no-repeat, no-repeat;
}


/*content is 276 pixel from 300px width - 20px padding and - 4px border */

.tagline {
  color: hsla(0, 0%, 100%, 0.65);
}

.element {
	opacity: 0.45;
}

.nav {
	 background: linear-gradient(#3e606f, #324d59); 
}

.nav {
  background: linear-gradient(0deg, #3e606f, #324d59);
}

.masthead {
	background: 
    radial-gradient(#1e3e4d, #102028);
}

.masthead {
  background: radial-gradient(circle 400px ,#1e3e4d, #102028);
}

@font-face {
	font-family: 'OpenSansRegular';
	
}